<!DOCTYPE html>
<html lang="en" ng-app="imageGalleryApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Image Gallery</title>
  <link rel="stylesheet" href="task2.css">
</head>
<body>

<div ng-controller="GalleryController as gallery">
  <div class="image-gallery">
    <div class="image" ng-repeat="image in gallery.images">
      <img ng-src="{{ image.src }}" alt="{{ image.alt }}" ng-click="gallery.showDetails(image)">
    </div>
  </div>

  <div class="image-details" ng-show="gallery.selectedImage">
    <h2>{{ gallery.selectedImage.title }}</h2>
    <p>{{ gallery.selectedImage.description }}</p>
    <button ng-click="gallery.hideDetails()">Close</button>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="task2.js"></script>
</body>
</html>

