.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.image img {
  width: 100%;
  cursor: pointer;
}

.image-details {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.image-details h2 {
  margin-top: 0;
}

.image-details button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.image-details button:hover {
  background-color: #0056b3;
}

